@import './base.css';

#app {
  max-width: 1600px;
  margin: 1px auto 0 auto;
  padding: 12px 12px 24px 12px;
  background: var(--main-white);
  border-radius: var(--main-radius);
  box-shadow: var(--main-shadow);
}

a {
  color: var(--main-blue);
  text-decoration: underline;
  font-weight: 500;
}
a:hover {
  color: #005bbd;
  text-decoration: none;
}

body {
  background: linear-gradient(120deg, #e6f2fb 0%, #f5f7fa 100%);
}
